input[type=text],input[type=email],input[type=number], select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
    resize: vertical;
  }
  
.error{
    border:solid 1px red;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1vw 2vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:2%;
  }
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    padding-left: 15%;
  }
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

.col-75 {
    float: right;
    width: 75%;
    margin-top: 6px;
  }

.col-5 {
    float: left;
    width: 5%;
    margin-top: 6px;
  }

  .col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
  }

  .col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
  }

.col-5 i{
    position: absolute;
    padding: 11.5px;
    padding-left:0.4vw;
    padding-right: 1.5vw;
    border: 1px solid #ccc;
    border-right:none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
  
.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  h1{
    font-size: 5vw;
    padding-left: 20%;
}
p{
    font-size: 3vw;
    text-align: center;

}
h3{
    font-size: 2vw;
}
.p2{
    font-size:1.5vw;
    text-align: justify;
}
button {
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
.green{
    background-color: green;
    padding: 2vw 3vw;
    margin-left: 40%;
}
.blue{
    background-color: blue;
    padding:2vw 5vw;
    margin-left:37%;
}
.small{
    background-color: green;
    padding: 1vw 2vw;
    float:right;
    margin-right:1vw;
}
img{
    height:15vw;
}
.card{
    padding-bottom:1vw;
    border:1px solid #ccc;
}
label{
    font-weight:bold;
    font-size:1.5vw;
    margin-left:2vw;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
    
