body{
    background-color: rgb(27,1,27);
    
}

.container{
    padding-top: 4%;
    padding-bottom: 12%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: dashed 2px white;
    border-right: dashed 2px white;
}

.parent1{
    background-color: rgb(27, 1, 27);
}
.container1{
    padding-top: 0%;
    margin-top:20px;
    background-color: rgb(27, 1, 27);
    margin-bottom: -5%;
    border-top:2px dashed white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.parent2{
    background-color: rgb(243,243,106) ;
    transform: skewY(-5deg);

}
.container2{
    background-color: rgb(243, 234, 106);
}

.parent3{
    background-color: rgb(245,33,69) ;
    transform: skewY(-5deg);
}
.container3{
    background-color: rgb(245, 33, 69);
}

.parent4{
    background-color: rgb(8,137,160) ;
    transform: skewY(-5deg);
}
.container4{
    background-color:rgb(8, 137, 160);
}

.parent5{
    background-color: rgb(109,3,104) ;
    transform: skewY(-5deg);
}
.container5{
    background-color:rgb(109, 3, 104);
    padding-bottom: 16%;
}

.container6{
    background-color: rgb(194, 188, 188);
    margin-top:-8%;
    padding-top: 9%;
    padding-bottom: 16%;
    clip-path: polygon(0 22%, 100% 0%, 100% 100%, 0 100%);
    
}



.logo{
    margin-top: 1%;
    margin-left:45%;
    width:15%;
    height:8%;
    transform: skewY(5deg);
}

.icon{
    margin-left: 48%;
    width:50px;
    height:50px;
    transform: skewY(5deg);
}

h1{
    margin-left:30%;
    text-align: center;
    color:white;
    transform: skewY(5deg);
    width:50%;
}

h2{

    text-align: center;
    color:white;
    transform: skewY(5deg);
}

.ext_font{
    font-family: 'Butterfly Kids', cursive;
    font-size: 100px;
}

.para{
    float:right;
    color:whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform:skewY(5deg);
    margin-right:25%;
}

.p1{
    color:rgb(58, 56, 56);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    padding-right: 2%;
    width:20%;
}

.p2{
    color:rgb(58, 56, 56);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    padding-left:2%;
    width:60%;
}

.p2 {
    display: inline;
}

.top{
    transform: skewY(0deg);
}

.bottom{
    width:55%;
    height:48%;
}

.foot{
    padding:1%;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.l2{
    float:right;
}